<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<title>Listagem de Despesas</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top"></nav>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title impacta-titulo-panel">Despesas</h1>
				<a href="/despesas/nova" class="btn btn-link impacta-link-panel">Nova Despesa</a>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center col-md-1">#</th>
					<th class="text-center col-md-3">Descrição</th>
					<th class="text-center col-md-2">Categoria</th>
					<th class="text-center col-md-1">Data</th>
					<th class="text-center col-md-2">Valor</th>
					<th class="text-center col-md-4">Observações</th>
					<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${listaDespesas != null && !listaDespesas.isEmpty()}"
						th:each="despesa : ${listaDespesas}">
					<td class="text-center" th:text="${despesa.codigo}"></td>
					<td class="text-left" th:text="${despesa.descricao}"></td>
					<td class="text-center" th:text="${despesa.categoria.nome}"></td>
					<td class="text-center" th:text="${#dates.format(despesa.data, 'dd/MM/yyy')}"></td>
					<td class="text-right" th:text="${#numbers.formatCurrency(despesa.valor)}"></td>
					<td class="text-left" th:text="${despesa.observacoes}"></td>
					<td class="text-center">
						<a class="btn btn-link btn-xs link-exclusao"
							th:attr="data-codigo=${despesa.codigo}"> 
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
				<tr th:if="${listaDespesas == null || listaDespesas.isEmpty()}">
					<td class="text-center" colspan="7"><i>NENHUMA DESPESA FOI ENCONTRADA.</i></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal fade" id="confirmaRemocaoModal"
			data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<form action="/despesas" method="DELETE">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Confirmação</h4>
					</div>

					<div class="modal-body">
						<span>Deseja realmente remover a despesa ?</span>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-link" id="cancelar">Cancelar</button>
						<button type="submit" class="btn btn-primary" id="confirmar">Confirmar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/despesa-listagem.js"></script>
	
</body>
</html>